@helper NavLink(string action, string controller,string text, string icon)
{
    <a href="@Url.Action(action, controller)">
        <i class="fas fa-@icon"></i>
        @text
    </a>
}

<nav class="nav-vert">
    @NavLink("Index", "Home", "Home", "home")
    @NavLink("Index", "Parish", "Parishes", "church")
    @NavLink("Index", "Account", "Users", "users")
</nav>
